﻿@model Task.tranTask_search

@using (Ajax.BeginForm("Delete",
    new AjaxOptions()
    {
        HttpMethod = "Post",
        OnSuccess = "created"
        ,
        OnFailure = "Failure( xhr, status, error)"
    }))
{
    @Html.AntiForgeryToken() 
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.AreyousuretodeletethisDiv</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(model=>model.Branch_ID)
                @Html.HiddenFor(model => model.ID)
                <div >

                    <dl class="dl-horizontal">
                        <dt>
                            ID :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ID)
                        </dd>
                        <dt>
                            ชื่อประเภทบริการ : 
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>

                </div>
            </div>
            @{ Html.RenderPartial("../Loading"); }                 
            <div class="modal-footer">
                <input type="button" class="btn" onclick="hideDialog();" value="@Resources.Resource.Close">
                <input type="submit" value="@Resources.Resource.Delete" class="btn btn-primary btn-md" />
            </div>
        </div>
    </div>
}
