﻿@model Task.tranTask_search

@using (Html.BeginForm("Edit", "SettingTasks", FormMethod.Post, new { id = "form0", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg" style="width: 800px; left: -150px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@Resources.Resource.SettingTasks</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.Branch_ID)
                    @Html.HiddenFor(model => model.Print_Coppies)
                    @Html.HiddenFor(model => model.servtime_alert)
                    @Html.HiddenFor(model => model.Seq)
                    @Html.HiddenFor(model => model.Show)
                    @Html.HiddenFor(model => model.QStart)
                    @Html.HiddenFor(model => model.QStop)
                    @Html.HiddenFor(model => model.ShowMobile)
                    @Html.HiddenFor(model => model.ShowOnNormal)
                    
                   
                    <div class="form-group">
                        @Html.Label("* หมายเลข Division", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.ID)
                            @Html.HiddenFor(model => model.ID)
                            <span id="AError" class="ValidDateError"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("* ชื่อ Division", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Name)
                            <span id="BError" class="ValidDateError"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label(" คำอธิบาย", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Desc)
                            @Html.HiddenFor(model => model.Desc)
                            <span id="CError" class="ValidDateError"></span>
                        </div>
                    </div>
                    <fieldset class="myFieldset">
                        <legend class="myLegend">บัตรคิว</legend>
                        <div class="form-group">
                            @Html.Label("*ชื่อ Division", new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Ticket_Name)
                                <span id="DError" class="ValidDateError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("*ชื่อ Division(En)", new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Ticket_Name_Eng)
                                <span id="EError" class="ValidDateError"></span>
                            </div>
                        </div>
                    </fieldset>
                        @if (Model.ShowOnNormal)
                        {
                            <div class="form-group">
                                @Html.Label("Show On Mobile", new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.ShowDivMobile)
                                    @Html.HiddenFor(model => model.ShowDivMobile)
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.ShowDivMobile);
                        }

                </div>
            </div>

            @{ Html.RenderPartial("../Loading"); }

            <br />
            <div class="panel-footer" align="Right">
                <input type="button" class="btn" onclick="hideDialog();" value="@Resources.Resource.Close">
                <input type="submit" value="@Resources.Resource.Save" class="btn btn-primary btn-md" />
            </div>
        </div>
    </div>
                }

<script src="~/Scripts/CHO.js"></script>

<script type="text/javascript">

    $(function () {
        $("#form0").submit(function (event) {


            $("#inloading").show();
            var dataString;
            event.preventDefault();
            var action = $("#form0").attr("action");
            if ($("#form0").attr("enctype") == "multipart/form-data") {
                dataString = new FormData($("#form0").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                //dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (data) {
                    //BTW, data is one of the worst names you can make for a variable
                    //handleSuccessFunctionHERE(data);
                    created();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#inloading").hide();
                    //$("#ErPosNo").html("test")
                    errorClear();
                    Error(errorThrown);

                }
            });


        }); //end .submit()
    });

</script>
<style>
    .myFieldset
    {
        padding:.35em .625em .75em;
        margin: 0 2px;
        border: 1px solid #c0c0c0;
    }
    .myLegend
    {
        width:auto;
        margin-bottom:5px;
        border-bottom:0px solid #e5e5e5;
    }
</style>