﻿<div class="container">
    <!-- Search Form -->
    <p></p>
    <!-- Ajax form to refresh listing -->
    @using (@Ajax.BeginForm("List", "SettingTasks", null,
                                new AjaxOptions()
                                {
                                    HttpMethod = "GET",
                                    LoadingElementId = "inloading",
                                    UpdateTargetId = "viewContent",
                                    InsertionMode = InsertionMode.Replace,
                                    OnFailure = "Failure( xhr, status, error)"

                                },
                                new
                                {
                                    id = "listingForm"
                                    ,
                                    enctype = "multipart/form-data"
                                }

                                ))
    {
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <button role="button" class="btn btn-primary" onclick="pageTo(1)">@Resources.Resource.Search</button>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-group from-control" id="ID" name="ID" placeholder="Division Id" style="width: 100%" />
                    <input type="text" class="form-group from-control" id="Name" name="Name" placeholder="Division Name" style="width: 100%" />
                    <input type="hidden" id="PageNo" name="PageNo" />
                </div>
            </div>
        </div>
    }
    <p></p>

    <div class="col-md-9">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h4>SettingTasks</h4>
                <h5></h5>

            </div>

            <div class="panel-body">
                @Html.ActionLink(@Resources.Resource.Add, "Create", new { branch = @ViewBag.BranchID },
                    new
                    {
                        @class = "btn btn-primary btn-md",
                        data_toggle = "modal",
                        data_target = "#detailsDialog",
                        role = "button"
                    })
                <input type="button" id="OpenDialog" value="Save as" class="btn btn-primary btn-md" />

            </div>

            <div id="bottomOfForm"></div>
            <div id="dialog" title="Save All Branch">
                @{ Html.RenderPartial("../SaveAllBranch/Index"); }
                @*@{ Html.RenderPartial("../SettingStationMapping/AddBranch", Model); }  *@

            </div>

            <div id="loading" style="display: none;">
                Loading...
            </div>


            <div id="viewContent">
            </div>
        </div>
    </div>

</div>
<!-- Details Dialog -->
<div class="modal fade" id="detailsDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<input type="hidden" id="DefualtBranch" value="@ViewBag.BranchID" />
<input type="hidden" id="multiBranch" value="" />

<script>
    function MsgError(Code) {
        switch (Code) {
            case 'AA': return '@Resources.Resource.Cannotbenull'; break;
            case 'AB': return '@Resources.Resource.Duplicate'; break;
            case 'AD': return 'กรุณากรอกข้อมูลจำนวนเต็มบวกเท่านั้น'; break;
            case 'AE': return 'หมายเลขไอดีนี้อยู่แล้วในระบบ'; break;
            case 'BA': return '@Resources.Resource.Cannotbenull'; break;
            case 'BB': return '@Resources.Resource.Duplicate'; break;
            case 'BD': return 'ข้อความยามเกินกำหนด'; break;
            case 'BE': return 'มีชื่อนี้อยู่แล้วในระบบ'; break;
            case 'CA': return '@Resources.Resource.Cannotbenull'; break;
            case 'CB': return '@Resources.Resource.Duplicate'; break;
            case 'CC': return 'ข้อความยามเกินกำหนด'; break;
            case 'CA': return '@Resources.Resource.Cannotbenull'; break;
            case 'CD': return 'ข้อความยามเกินกำหนด'; break;
            case 'DA': return '@Resources.Resource.Cannotbenull'; break;
            case 'DD': return 'ข้อความยามเกินกำหนด'; break;
            case 'EA': return '@Resources.Resource.Cannotbenull'; break;
            case 'ED': return 'ข้อความยามเกินกำหนด'; break;

            case 'ZA': return '@Resources.Resource.Editbyotheruser'; break;
            case 'ZB': return 'ไม่สามารถบันทึกบัตรคิวได้'; break;
            case 'ZC': return 'ไม่สามารถลบบัตรคิวได้'; break;
            case 'AC': return 'Not Over 200'; break;
            case 'BC': return 'Not Over 200'; break;
            case 'ZZ': return '@Resources.Resource.Error'; break;
                //case 'ZB': return 'ไม่พบเอกสารที่ต้องการลบ'; break;
                //case 'ZC': return 'ไม่สามารถลบได้เนื่องจากออก PO แล้ว'; break;
        }
    }

</script>
<script lang="javascript">
    $(document).ready(function () {
        // enable tooltip for <a>
        //$("a").tooltip();
        $("#PRNoSearch").css('width', 200);
        $("#PRNoSearch").css('height', 35);
        // http://stackoverflow.com/questions/12286332/twitter-bootstrap-remote-modal-shows-same-content-everytime
        $('#detailsDialog').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        // config validation for dialog
        $('#detailsDialog').on('shown.bs.modal', function () {
            configDialog($(this));
        });

        // load page 1
        $('#listingForm').submit();
    });

    function configDialog($DialogContainer) {
        var $jQval = $.validator; //This is the validator
        $jQval.unobtrusive.parse($DialogContainer); // and here is where you set it up.
        $DialogContainer.modal();

        // setup validation
        var $form = $DialogContainer.find("form");
        $.validator.unobtrusive.parse($form);

        // validate before submmit
        $form.on("submit", function (event) {
            var $form = $(this);
            if (!$form.valid())
                return false;
            event.preventDefault();
        });
    }

    function hideDialog() {
        $('#detailsDialog').modal('hide');
    }

    function created() {
        hideDialog();
        $('#listingForm').submit();
    }
    function Failure(xhr, status, error) {

        Error(error);
    }
    //function Edited() {
    //    hideDialog();
    //    $('#listingForm').submit();
    //    //window.location.replace(Product);
    //}

    function pageTo(pageNo) {
        $('#PageNo').val(pageNo);
        $('#listingForm').submit();
    }
</script>
<script src="~/Scripts/CHO.js"></script>
<script type="text/javascript">
    $(function () {
        $("#form0").submit(function (event) {
            alert("send");
            $("#inloading").show();
            var dataString;
            event.preventDefault();
            var action = $("#form0").attr("action");
            if ($("#form0").attr("enctype") == "multipart/form-data") {
                dataString = new FormData($("#form0").get(0));
                var FormJson = $("#form0").serializeArray();
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                //dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (data) {
                    //BTW, data is one of the worst names you can make for a variable
                    //handleSuccessFunctionHERE(data);
                    errorClear();
                    $("#inloading").hide();
                    alert("Success");
                    created();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error");
                    $("#inloading").hide();
                    //$("#ErPosNo").html("test")
                    errorClear();
                    Error(errorThrown);

                }
            });
        }); //end .submit()
    });

</script>



<script lang="javascript">
    // save all branch
    $(function () {
        // this initializes the dialog (and uses some common options that I do)
        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            show: "blind",
            hide: "blind",
            appendTo: "#bottomOfForm",
            buttons: {
                'Submit': function () {
                    //$j(this).parent().prependTo($j("#bottomOfForm"));
                    $(this).dialog('close');
                    submit = true;
                    $("#form0").submit();

                }
            }
        });


        $("#dialog").dialog({
            height: 'auto',
            width: 'auto',
            resizable: false,
            draggable: false,
            buttons: {
                "Close": function () {
                    $(this).dialog("close");

                }, "Save": function () {

                    var countBranch = 0;
                    var fav = [];
                    $('input:checkbox[name=branch]').each(function () {

                        if ($(this).is(':checked')) {

                            if ($(this).val() > 0) {
                                fav.push($(this).val());
                                countBranch = countBranch + 1;
                            }
                        }

                    });

                    if (countBranch == 0) {
                        alert("กรุณาเลือกข้อมูลสาขา");
                    } else {

                        var varConfirm = confirm("คุณต้องการ Save ข้อมูลใช่หรือไม่?");
                        if (varConfirm == true) {

                            $('input:checkbox[name=branch]').each(function () {

                                if ($(this).is(':checked')) {

                                    if ($(this).val() > 0) {
                                        fav.push($(this).val());

                                    }
                                }

                            });

                            frmSubmit();
                        }
                    }
                }

            }

        });


        // next add the onclick handler
        $("#OpenDialog").click(function () {
            $("#dialog").dialog("open");

            return false;
        });


    });

    function setBranchAll() {


        var fav = [];
        var strBranch;

        $('input:checkbox[name=branch]').each(function () {

            if ($(this).is(':checked')) {

                if ($(this).val() > 0) {
                    fav.push($(this).val());

                }
            }

        });

        strBranch = fav.toString();

        var current = document.getElementById("multiBranch");
        current.value = strBranch;


    }


    function frmSubmit() {



        setBranchAll();

        var branchDefualt = document.getElementById("DefualtBranch").value;

        var branchMulti = document.getElementById("multiBranch").value;

        //alert("Branch เริ่มต้น" + branchDefualt + "\n" + "เลือกหลาย Branch" + branchMulti);

        var SubURL = '@System.Configuration.ConfigurationManager.AppSettings["SubURL"].ToString()';

        $.ajax({
            type: "POST",
            url: SubURL + "/SettingTasks/SaveMultiBranch",
            data: { branch: branchDefualt, branchAll: branchMulti },
            datatype: "html",
            success: function (data) {
                alert("Save AS Success");
                $("#dialog").dialog("close");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                try {
                    var err = errorThrown.split("/");
                    switch (err[0]) {
                        case 'A': alert("ไม่สามารถบันทึกได้เนื่องจากกรุ๊ปไม่เหมือนกันในสาขา " + err[1]); break;
                        case 'B': alert("ไม่สามารถบันทึกได้เนื่องจากประเภทบริการไม่เหมือนกันในสาขา " + err[1]); break;
                        case 'C': alert("ไม่สามารถบันทึกข้อมูลได้ " + err[1]); break;
                        case 'D': alert("ไม่มีข้อมูล"); break;
                        case 'E': alert("ไม่สามารถบันทึกบัตรคิวได้" + err[1]); break;
                        case 'F': alert("ไม่มีข้อมูลบัตรคิว"); break;
                    }
                }
                catch (ex) {
                    alert(ex);
                }
            }
        });

    }


</script>

<style type="text/css">
    /*ปิด close x javaScript dialog*/
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

