﻿@model PagedList.IPagedList<Task.tranTask>

<h4>@ViewBag.ShowBy</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("ID")
            </th>
            <th>
               
            </th>
            <th >
                @Html.Label("Name")
            </th>
            <th style="text-align:right;padding-right:1.5em"><span class="badge">@Model.TotalItemCount</span> @Resources.Resource.Records</th>
        </tr>
    </thead >
    <tbody>
    @foreach (Task.tranTask Item in Model)
    {
        <tr>
            <td style="vertical-align: middle;">
                <a class="btn btn-warning btn-md" href="@Url.Action("DivUp", "SettingDivisionInfo", new {BranchID = ViewBag.BranchID ,BranchName = ViewBag.BranchName, DivID = Item.ID,showby = ViewBag.ShowBy})" role="button">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </a>

                <a class="btn btn-warning btn-md" href="@Url.Action("DivDown", "SettingDivisionInfo", new {BranchID = ViewBag.BranchID ,BranchName = ViewBag.BranchName, DivID = Item.ID,showby = ViewBag.ShowBy })" role="button">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </a>
            </td>

            <td onkeypress="return KeyNumbers(this, event)">
                <input type="hidden" name="StationGroupMap.Index" value= @ViewBag.Index />
                @Html.DisplayFor(modelItem => Item.ID)
            </td>
            <td onkeypress="return KeyNumbers(this, event)">
                @Html.DisplayFor(modelItem => Item.Name )
            </td>
            <td style="text-align:right;">
                @Html.ActionLink(@Resources.Resource.Edit, "Edit", "SettingDivisionInfo", new { branchID = Item.Branch_ID, divId = Item.ID, ShowOnNormal_ = Item.ShowOnNormal , ItemList = ViewBag.ItemList },
                new
                {
                    @class = "btn btn-primary btn-md",
                    data_toggle = "modal",
                    data_target = "#detailsDialog",
                    role = "button"
                })
                @Html.ActionLink(@Resources.Resource.Delete, "Delete", "SettingDivisionInfo", new { brnach = Item.Branch_ID, divId = Item.ID },
                new
                {
                    @class = "btn btn-danger btn-md",
                    data_toggle = "modal",
                    data_target = "#detailsDialog",
                    role = "button"
                })
                </td>
                </tr>
    }
    </tbody>
</table>
<div class="panel-footer">
    @Html.PagedListPager(Model, page => "javascript:pageTo(" + page + ");")
</div>

<style>
    .button
    {
        position:absolute;
        top:50%;
    }
</style>
