﻿@model Models.Staff_Filter

@using (Html.BeginForm("Edit", "Staff", FormMethod.Post, new { id = "form0", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg" style="width:800px;left:-150px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.Edit</h4>
            </div>
            <div class="modal-body" style="width:800px;">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-group">
                        @Html.Label("masStaff ID", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.ID, new { @class = "control-label col-md-5", Styles = "width:100%" })
                            <span id="Error" class="ValidDateError"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Name", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Name, new { @class = "control-label col-md-5", Styles = "width:100%" })
                            <span id="AError" class="ValidDateError"></span>
                        </div>
                    </div>


                    @*--------Piyapan--------*@

                    @if (ViewBag.LV == 1)
                    {
                        <div class="form-group">

                            @Html.Label("Status", new { @class = "control-label col-md-5" })

                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.StaffLevel, (IEnumerable<SelectListItem>)ViewBag.StaffLVs, new { @class = "control-label col-md-5" })
                                <span id="AError" class="ValidDateError"></span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">

                            @Html.Label("Status", new { @class = "control-label col-md-5" })

                            <div class="col-md-7">
                                @if(ViewBag.LV_Staff == 1)
                                {
                                    <p>Admin</p>
                                }
                                else
                                {
                                    <p>Staff</p>
                                }
                                <span id="AError" class="ValidDateError"></span>
                            </div>
                        </div>
                    }
                    @*--------Piyapan--------*@


                    <div class="form-group">
                        @Html.Label("UserLogin", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.UserLogin, new { @class = "control-label col-md-5", Styles = "width:100%" })
                            <span id="BError" class="ValidDateError"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("PasswordLogin", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PasswordLogin, new { @class = "control-label col-md-5", Styles = "width:100%" })
                            <span id="CError" class="ValidDateError"></span>
                        </div>
                    </div>

                    @*----------mos---------------*@
                    @*<div class="form-group">
                        @Html.Label("Email", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.UserEmail, new { @class = "control-label col-md-5", Styles = "width:100%" })
                            <span id="CError" class="ValidDateError"></span>
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.Label("Email", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Email, new { @class = "control-label col-md-5", Styles = "width:100%" })
                            <span id="AError" class="ValidDateError"></span>
                        </div>
                    </div>

                </div>
            </div>
            @{ Html.RenderPartial("../Loading"); }
            <div class="modal-footer">
                <input type="button" class="btn" onclick="hideDialog();" value="@Resources.Resource.Close">
                <input type="submit" value="@Resources.Resource.Save" class="btn btn-primary btn-md" />
            </div>
        </div>
    </div>
                }
<script src="~/Scripts/CHO.js"></script>
<script lang="javascript">
    $(document).ready(function () {
        $(function () {
            var SubURL = '';
            $("#DueDate").datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                buttonImage: SubURL + "/images/calendar.gif",
                showOn: "both"
            });

        });



    });
</script>
<script type="text/javascript">
    $(function () {
        $("#form0").submit(function (event) {
            $("#inloading").show(); var dataString;
            event.preventDefault();
            var action = $("#form0").attr("action");
            if ($("#form0").attr("enctype") == "multipart/form-data") {
                dataString = new FormData($("#form0").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                //dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (data) {
                    //BTW, data is one of the worst names you can make for a variable
                    //handleSuccessFunctionHERE(data);
                    $("#inloading").hide();
                    alert("Edit Data Success");
                    created();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#inloading").hide();
                    //$("#ErPosNo").html("test")
                    errorClear();
                    Error(errorThrown);

                }
            });
        }); //end .submit()
    });
</script>