﻿@model Models.Staff_Filter
<div class="container">
    @using (@Ajax.BeginForm("List", "Staff", null,
                                        new AjaxOptions()
                                        {
                                            HttpMethod = "GET",
                                            LoadingElementId = "inloading",
                                            UpdateTargetId = "viewContent",
                                            InsertionMode = InsertionMode.Replace,
                                            OnFailure = "Failure( xhr, status, error)"
                                        },
                                        new
                                        {
                                            id = "listingForm",
                                            enctype = "multipart/form-data"
                                        }

                                        ))
    {
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <button role="button" class="btn btn-primary" onclick="pageTo(1)">@Resources.Resource.Search</button>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" class="form-group from-control" id="ID" name="ID" placeholder="ID Search" style="width:100%" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-group from-control" id="Name" name="Name" placeholder="Name Search" style="width:100%" />
                    </div>
                    <input type="hidden" id="PageNo" name="PageNo" />
                </div>
            </div>
        </div>
    }
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="panel-body">
                @if (ViewBag.StaffLevel == 1)
                {
                    @Html.ActionLink(@Resources.Resource.Add, "Create", null,
        new
        {
            @class = "btn btn-primary btn-md",
            data_toggle = "modal",
            data_target = "#detailsDialog",
            role = "button"
        })
                }

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                </div>
            </div>
            @{ Html.RenderPartial("../Loading"); }

            <div id="viewContent">
            </div>
        </div>
    </div>
    <div class="modal fade" id="detailsDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>
    <script>
        function MsgError(Code) {
            switch (Code) {
                case 'AA': return 'กรุณากรอกข้อมูล'; break;
                case 'AB': return 'ข้อมูลเกิน 255 ตัวอักษร กรุณากรอกข้อมูลใหม่'; break;
                case 'BA': return 'กรุณากรอกข้อมูล'; break;
                case 'BB': return 'ข้อมูลเกิน 50 ตัวอักษร กรุณากรอกข้อมูลใหม่'; break;
                case 'CA': return 'กรุณากรอกข้อมูล'; break;
                case 'CB': return 'ข้อมูลเกิน 50 ตัวอักษร กรุณากรอกข้อมูลใหม่'; break;
                case 'DA': return 'กรุณากรอกข้อมูล'; break;
                case 'DB': return 'Email ต้องไม่เกิน 150 ตัวอักษร'; break;
              
                case 'ZZ': return 'Error'; break;
            }
        }

    </script>
    <script lang="javascript">
        $(document).ready(function () {
            // enable tooltip for <a>
            //$("a").tooltip();
            //$("#StatusID").css('width', "100%");
            //$("#StatusID").css('height', 35);
            //$("#StaffID").css('width', "100%");
            //$("#StaffID").css('height', 35);
            //$("#ProjectID").css('width', "100%");
            //$("#ProjectID").css('height', 35);
            // http://stackoverflow.com/questions/12286332/twitter-bootstrap-remote-modal-shows-same-content-everytime
            $('#detailsDialog').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            // config validation for dialog
            $('#detailsDialog').on('shown.bs.modal', function () {
                configDialog($(this));
            });
            @*if (@ViewBag.TaskId!=null){
                alert("aaaaa");
            }*@
            // load page 1
            $('#listingForm').submit();
            $('#listingForm2').submit();
        });

        function configDialog($DialogContainer) {
            var $jQval = $.validator; //This is the validator
            $jQval.unobtrusive.parse($DialogContainer); // and here is where you set it up.
            $DialogContainer.modal();

            // setup validation
            var $form = $DialogContainer.find("form");
            $.validator.unobtrusive.parse($form);

            // validate before submmit
            $form.on("submit", function (event) {
                var $form = $(this);
                if (!$form.valid())
                    return false;
                event.preventDefault();
            });
        }

        function hideDialog() {
            $('#detailsDialog').modal('hide');
        }

        function created() {
            hideDialog();
            $('#listingForm').submit();
        }
        function Failure(xhr, status, error) {

            Error(error);
        }
        function Edited() {
            hideDialog();
            $('#listingForm').submit();
            //window.location.replace(Product);
        }

        function pageTo(pageNo) {
            $('#PageNo').val(pageNo);
            $('#listingForm').submit();
        }
    </script>
    <script src="~/Scripts/CHO.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#form0").submit(function (event) {
                $("#inloading").show(); var dataString;
                event.preventDefault();
                var action = $("#form0").attr("action");
                if ($("#form0").attr("enctype") == "multipart/form-data") {
                    dataString = new FormData($("#form0").get(0));
                    contentType = false;
                    processData = false;
                } else {
                    // regular form, do your own thing if you need it
                }
                $.ajax({
                    type: "POST",
                    url: action,
                    data: dataString,
                    //dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                    contentType: contentType,
                    processData: processData,
                    success: function (data) {
                        //BTW, data is one of the worst names you can make for a variable
                        //handleSuccessFunctionHERE(data);
                        created();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("error");
                        $("#inloading").hide();
                        //$("#ErPosNo").html("test")
                        errorClear();
                        Error(errorThrown);

                    }
                });
            }); //end .submit()
        });
    </script>
    @*save all branch*@
    <script lang="javascript">
        $(function () {
            // this initializes the dialog (and uses some common options that I do)
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                show: "blind",
                hide: "blind",
                appendTo: "#bottomOfForm",
                buttons: {
                    'Submit': function () {
                        //$j(this).parent().prependTo($j("#bottomOfForm"));
                        $(this).dialog('close');
                        submit = true;
                        $("#form0").submit();

                    }
                }
            });
        });
    </script>
