﻿@model PagedList.IPagedList<masStaffs>
<table class="table">
    <thead>
        <tr style="background-color: #428bca; color:white">
            <th class="Name">
                @Html.Label("ID")
            </th>
            <th class="Name">
                @Html.Label("Name")
            </th>
            <th class="Name">
                @Html.Label("Status")
            </th>
            <th style="text-align:right;padding-right:1.5em" colspan="3"><span class="badge">@Model.TotalItemCount</span>  @Resources.Resource.Records</th>
        </tr>
    </thead>
    <tbody>

        

        @foreach (masStaffs Item in Model)
        {
            
            <tr>
                <td class="Name">
                    @Html.HiddenFor(model => Item.ID)
                    @Html.DisplayFor(modelItem => Item.ID)
                </td>
                <td class="Name">
                    @Html.DisplayFor(modelItem => Item.Name)
                </td>
                <td class="Name">
                    @if (Item.StaffLevel == 1)
                    {
                        <p>Admin</p>
                    }
                    else if(Item.StaffLevel == 2)
                    {
                        <p>RD</p>
                    }
                    else
                    {
                        <p>TS</p>
                    }
                </td>

                <td style="text-align:right;">
                    @if (Item.StaffLevel >= 1)
                    {
                        @Html.ActionLink(@Resources.Resource.Edit, "Edit", "Staff", new { ID = Item.ID,LV = ViewBag.StaffLevel },
                          new
                          {
                              @class = "btn btn-primary btn-md",
                              data_toggle = "modal",
                              data_target = "#detailsDialog",
                              role = "button"
                          })
                    }
                    @if (Item.StaffLevel >= 1)
                    {
                        @Html.ActionLink(@Resources.Resource.Delete, "Delete", "Staff", new { ID = Item.ID },
                    new
                    {
                        @class = "btn btn-primary btn-md",
                        data_toggle = "modal",
                        data_target = "#detailsDialog",
                        role = "button"
                    })
                    }
                </td>
            </tr>
            
        }
    </tbody>
</table>
<div class="panel-footer">
    @Html.PagedListPager(Model, page => "javascript:pageTo(" + page + ");")
</div>
@*<style>
        .button
        {
            position:absolute;
            top:50%;
        }
    </style>*@