﻿<!DOCTYPE html>
<html>
@*  @{
    if (System.Web.HttpContext.Current.Session["Permission"] == null)
    {
        string url = @Request.Url.AbsoluteUri;//@Url.Content("~/Home/Index");
        Response.Redirect(url, true);// @Url.Content("~/Home/Index");
    }
    } *@
<head>
    <title></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.js"></script>
    @* <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.placeholder.min.js"></script>
    <script src="~/Scripts/CHO.js"></script>
    <link href="~/Content/CHO.css" rel="stylesheet" />
    <script>

        $(function () {
            //$(".datepicker").datepicker();
        });
    </script>
    @RenderSection("styles", required: false)
</head>
<body>
    <style>

    </style>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Resource.Home, "Index", "Home", null, new { @class = "navbar-brandHome" })</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Resource.DataManagemment<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Task", "Index", "Task", null, new { @class = "navbar-brand" })</li>
                            @if ((System.Web.HttpContext.Current.Session["StaffLevel"] == null ? 0 : (int)System.Web.HttpContext.Current.Session["StaffLevel"]) == 1)
                            {
                                <li>@Html.ActionLink("Project", "Index", "Project", null, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("Staff", "Index", "Staff", null, new { @class = "navbar-brand" })</li>
                            }
                            @System.Web.HttpContext.Current.Session["StaffLevel"]
                        </ul>
                    </li>
                    <li>
                        @*<p>สถานะ : @System.Web.HttpContext.Current.Session["StaffLevel"]</p>*@
                        @*<p>ชื่อ : @System.Web.HttpContext.Current.Session["Name"]</p>*@
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myloading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:800px;left:-150px">
                <img src="@Url.Content("~/Content/Loading/loadding.gif")" id="irc_mi" height="30" width="30">@Resources.Resource.Pleasewait
            </div>
        </div>
    </div>
    <div class="container body-content" style="width:100%">
        @RenderBody()
        @RenderSection("scripts", required: false)
        <hr />
        @*        <footer>
                <p>&copy; @DateTime.Now.Year - INFINITE Appication</p>
            </footer>*@
    </div>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript"> $(document).ready(function () { $('.dropdown-toggle').dropdown(); }); </script>
    <script>
        $(function () {
            $(".navbar-brand").click(function () { $("#myloading").modal('show'); })
        })

    </script>

</body>
</html>
