﻿@model Models.tranTask
<style>
    input[type='file'] {
        color: transparent;
    }

    #demo {
        display: none;
    }

    table {
        width: 80%;
        margin: 0px auto;
    }

    th {
        text-align: right;
        padding: 10px 15px 10px 0px;
        width: 31%;
    }

    label {
        margin: 0px;
    }

    .EditorFor {
        border: 1px solid #ccc;
        padding: 6px 12px;
        border-radius: 4px;
    }
</style>
@using (Html.BeginForm("Create", "Task", FormMethod.Post, new { id = "form0", enctype = "multipart/form-data" }))
{
    <div class="modal-dialog modal-lg" style="width: 800px; left: -150px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.Create</h4>
            </div>


            <div class="modal-body">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <table>
                        <tr>
                            <th>@Html.Label("ProjectID")</th>
                            <td>
                                <input id="ProjectNameA" name="ProjectName" class="btn btn-default input" placeholder="กรุณาเลือก" list="ProjectIDGroup" style="width:180px" autocomplete="off">
                                <datalist id="ProjectIDGroup">
                                    @foreach (Models.dropdownAuto value in ViewBag.ProjectID)
                                    {
                                        <option value="@value.Name" data-value="@value.ID"> </option>
                                    }
                                </datalist>
                                <input type="hidden" id="ProjectIDD" name="ProjectID" value="0" />
                            </td>
                            <td><span id="BError" class="ValidDateError"></span></td>
                        </tr>
                        <tr>
                            <th>@Html.Label("Task")</th>
                            <td>
                                <input type="text" class="form-control" id="Name" name="Name" />
                            </td>
                            <td><span id="AError" class="ValidDateError"></span></td>
                        </tr>
                        <tr>
                            <th>@Html.Label("วันที่เริ่มงาน")</th>
                            <td>
                                <input type="text" style="width: auto"
                                       class="btn btn-default dropdown-toggle"
                                       id="StartDate" name="StartDate"
                                       value="@(Model.StartDate)" />
                            </td>
                            <td><span id="MError" class="ValidDateError"></span></td>
                        </tr>
                        <tr>
                            <th>@Html.Label("กำหนดส่ง")</th>
                            <td>
                                <input type="text" style="width: auto"
                                       class="btn btn-default dropdown-toggle"
                                       id="DueDate" name="DueDate"
                                       value="@(Model.DueDate)" />
                            </td>
                            <td><span id="NError" class="ValidDateError"></span></td>
                        </tr>
                        <tr>
                            <th>@Html.Label("Remark")</th>
                            <td><input type="text" class="form-control" id="Remark" name="Remark" /> </td>
                            <td><span id="Error" class="ValidDateError"></span></td>
                        </tr>
                        <tr>
                            <th>@Html.Label("ผู้รับผิดชอบ")</th>
                            <td>
                                <input id="StaffNameB" name="StaffName" class="btn btn-default input" placeholder="กรุณาเลือก" list="StaffIDGroup" style="width:215px" autocomplete="off">
                                <datalist id="StaffIDGroup">
                                    @foreach (Models.dropdownAuto value in ViewBag.StaffID)
                                    {
                                        <option value="@value.Name" data-value="@value.ID"> </option>
                                    }
                                </datalist>
                                <input type="hidden" id="StaffIDE" name="StaffID" value="" />
                            </td>
                            <td><span id="CError" class="ValidDateError"></span></td>
                        </tr>
                        <tr>
                            <th>@Html.Label("สถานะ")</th>
                            <td>
                                <input id="StatusNameC" name="StatusName" class="btn btn-default input" placeholder="กรุณาเลือก" list="StatusIDGroup" style="width:215px" autocomplete="off">
                                <datalist id="StatusIDGroup">
                                    @foreach (Models.dropdownAuto value in ViewBag.StatusID)
                                    {
                                        <option value="@value.Name" data-value="@value.ID"> </option>
                                    }
                                </datalist>
                                <input type="hidden" id="StatusIDF" name="StatusID" value="0" />
                            </td>
                            <td><span id="DError" class="ValidDateError"></span></td>
                        </tr>
                        <tr id="demo">
                            <th>@Html.Label("ผู้รับผิดชอบ (TS)")</th>
                            <td>
                                <input id="StaffNameEdit" name="RecevierID" class="btn btn-default input" placeholder="กรุณาเลือก"
                                       list="StaffIDGroupTS" style="width:215px" autocomplete="off">
                                <datalist id="StaffIDGroupTS">
                                    @foreach (Models.dropdownAuto value in ViewBag.StaffIDTS)
                                    {
                                        <option value="@value.Name" data-value="@value.ID"> </option>
                                    }
                                </datalist>
                                <input type="hidden" id="RecevierID" name="RecevierID" value="@Model.StaffID" />
                            </td>
                            <td><span id="CError" class="ValidDateError"></span></td>
                        </tr>
                        <tr>
                            <th>@Html.Label("รูปแบบ")</th>
                            <td>
                                <input id="PlatformName" name="PlatformName" class="btn btn-default input" 
                                       placeholder="กรุณาเลือก" list="PlatformIDGroup" style="width:215px" 
                                       autocomplete="off" value="@Model.PlatformName">
                                <input type="hidden" id="PlatformID" name="PlatformID" value="@Model.PlatformID" />
                                <datalist id="PlatformIDGroup">
                                    @foreach (Models.dropdownAuto value in ViewBag.PlatformID)
                                    {
                                        <option value="@value.Name" data-value="@value.ID"> </option>
                                    }
                                </datalist>
                                
                            </td>
                            <td><span id="HError" class="ValidDateError"></span></td>
                        </tr>
                        <tr>
                            <th>@Html.Label("รูปภาพ / ไฟล์")</th>
                            <td>
                                @Html.ActionLink(@Resources.Resource.Add, "AddRowDetail", "Task",
                     new
                     {
                         id = "AddRowDetail",
                         @class = "btn btn-success btn-md",
                         role = "button"
                     })
                            </td>
                        </tr>
                    </table>
                    @*------------------ตารางรูปไฟล์------------------*@
                    <table id="permTable">
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="LoadingCreate" style="display:none;text-align:center;">
                <span>Loadingsss...</span>
            </div>

            @{ Html.RenderPartial("../Loading"); }
            <div class="modal-footer">

                <input type="button" class="btn" onclick="hideDialog();" value="@Resources.Resource.Close">
                <input type="submit" value="@Resources.Resource.Save" class="btn btn-primary btn-md" onclick="SendEmail()" />
            </div>

        </div>
    </div>
                }
<script src="~/Scripts/CHO.js"></script>
<script>
    function ListName(value) {
        if (value == "TS Testing") {
            document.getElementById("demo").style.display = "table-row";
        }
        else {
            document.getElementById("demo").style.display = "none";
        }
    }
</script>
<script lang="javascript">
    $(document).ready(function () {
        $(function () {
            var SubURL = '';
            $("#DueDate").datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                buttonImage: SubURL + "/images/calendar.gif",
                showOn: "both"
            });
        });
        $(function () {
            var SubURL = '';
            $("#StartDate").datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                buttonImage: SubURL + "/images/calendar.gif",
                showOn: "both"
            });

        });

        //alert email
        function SendEmail() {
            debugger;
            document.getElementById("LoadingCreate").style.display = "";
            $.ajax({
                type: "Post",
                url: "/Task/SendMailToUser",
                data: {
                    to: "testwork59022064@gmail.com",
                    subject: "Add Task",
                    body: "\n" + "ProjectID : " + ProjectNameA + "\n" + "Task : " + name + "\n" + "วันที่เริ่มงาน : " + StartDate + "\n" + "กำหนดส่ง : " + DueDate +
                        "\n" + "Remark : " + Remark + "\n" + "ผู้รับผิดชอบ : " + StaffNameB + "\n" + "สถานะ : " + StatusNameC + "\n" + "รูปแบบ" + PlatformNameD + "\n",

                },
                success: function (data) {
                    if (data == true) {
                        alert("Success");
                        window.location.reload;
                    }
                    else {
                        alert("fail");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("fail");

                }

            })
        }



    });
</script>

<script type="text/javascript">
    function filedatachangename(item) {
        debugger;
        var _fileName = $(item).val();
        var file = item.files[0];
        var idLabel = item.defaultValue;
        $("label[for = filedata_" + idLabel + "]").text(file.name);
    }

    $(function () {
        $("#form0").submit(function (event) {
            $("#inloading").show();
            var dataString;
            event.preventDefault();
            var action = $("#form0").attr("action");
            if ($("#form0").attr("enctype") == "multipart/form-data") {
                dataString = new FormData($("#form0").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                //dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (data) {
                    //BTW, data is one of the worst names you can make for a variable
                    //handleSuccessFunctionHERE(data);

                    alert("Add Data Success");
                    created();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#inloading").hide();
                    //$("#ErPosNo").html("test")


                    errorClear();
                    Error(errorThrown);

                }
            });
        }); //end .submit()
    });

    //ข้อควรระวังใน javascript ชื่อไอดีใน input ที่อยู่ในหน้าเดียวกันมันอาจจะ run ทับกันได้เลยที่เปลี่ยนชื่อไอดีใน input ให้มีความแตกต่างกันด้วย
    //ข้อควรระวังในห้ามค่าใน getElementById เหมือนกันเมื่อมันอยู่ในหน้าเดียวกัน
    $('#ProjectNameA').on('input', function () {

        var value = $(this).val();
        var projectID = $('#ProjectIDGroup [value="' + value + '"]').data('value');
        if (projectID == null) {
            document.getElementById('ProjectIDD').value = -1;
        } else {
            document.getElementById('ProjectIDD').value = projectID;
        }

    });

    $('#StaffNameB').on('input', function () {
        var value = $(this).val();
        var staffID = $('#StaffIDGroup [value="' + value + '"]').data('value');
        if (staffID == null) {
            document.getElementById('StaffIDE').value = -1;
        } else {
            document.getElementById('StaffIDE').value = staffID;
        }

    });

    $('#StatusNameC').on('input', function () {
        var value = $(this).val();
        var statusID = $('#StatusIDGroup [value="' + value + '"]').data('value');
        if (statusID == null) {
            document.getElementById('StatusIDF').value = -1;
        } else {
            document.getElementById('StatusIDF').value = statusID;
        }

    });

    $('#StaffNameB').on('input', function () {
        debugger;
        var value = $(this).val();
        document.getElementById('StaffIDE').value = $('#StaffIDGroup [value="' + value + '"]').data('value');
    });


    $('#StatusNameC').on('input', function () {
        debugger;
        var value = $(this).val();
        document.getElementById('StatusIDF').value = $('#StatusIDGroup [value="' + value + '"]').data('value');
    });

    $('#PlatformName').on('input', function () {
        debugger;
        var value = $(this).val();
        var PlatformName = $('#PlatformIDGroup [value="' + value + '"]').data('value');
        if (PlatformName == null) {
            document.getElementById('PlatformID').value = -1;
        } else {
            document.getElementById('PlatformID').value = PlatformName;
        }

    });

    //รูป ไฟล์
    $('#permTable').on('input', function () {
        var value = $(this).val();
        var FileData = $('#permTable [value="' + value + '"]').data('value');
        if (FileData == null) {
            document.getElementById('Files').value = -1;
        } else {
            document.getElementById('Files').value = FileData;
        }

    });

</script>
<script>
    $("#AddRowDetail").click(function () {
        $.ajax({
            url: this.href,
            cache: false,
            success: function (html) {
                $("#permTable > tbody:last").append(html);

            }
        });
        return false;
    });
    $("#deleteAll").click(function () {
        $("#permTable").find("tr:gt(0)").remove();
    });
</script>

<script>
    function Delete(data, num) {
        $(data).closest('tr').remove();
    }
</script>



@*<div class="form-group">
        @Html.Label("ProjectID", new { @class = "control-label col-md-5" })
        <input id="ProjectNameA" name="ProjectName" class="btn btn-default input" placeholder="กรุณาเลือก" list="ProjectIDGroup" style="width:180px" autocomplete="off">
        <datalist id="ProjectIDGroup">
            @foreach (Models.dropdownAuto value in ViewBag.ProjectID)
            {
                <option value="@value.Name" data-value="@value.ID"> </option>
            }
        </datalist>
        <input type="hidden" id="ProjectIDD" name="ProjectID" value="0" />
        <span id="BError" class="ValidDateError"></span>
    </div>

    @*<div class="form-group">
        @Html.Label("ProjectID", new { @class = "control-label col-md-5" })
         <div class="col-md-7">
          @Html.DropDownList("ProjectID", ViewBag.ProjectID as SelectList, new { @class = "btn btn-default dropdown-toggle" })
         <span id="BError" class="ValidDateError"></span>
            </div>
        </div>

    <div class="form-group">
        @Html.Label(" Task", new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.Name, new { @class = "control-label col-md-5", Styles = "width:100%" })
            <span id="AError" class="ValidDateError"></span>
        </div>
    </div>

    <div class="form-group">
        @Html.Label(" วันที่เริ่มงาน", new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <input type="text" style="width: auto" class="btn btn-default dropdown-toggle" id="StartDate" name="StartDate"
                   value="@(Model.StartDate)" />
            <span id="MError" class="ValidDateError"></span>
        </div>
    </div>
    <div class="form-group">
        @Html.Label(" กำหนดส่ง", new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            <input type="text" style="width: auto" class="btn btn-default dropdown-toggle" id="DueDate" name="DueDate"
                   value="@(Model.DueDate)" />
            <span id="NError" class="ValidDateError"></span>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Remark", new { @class = "control-label col-md-5" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.Remark, new { @class = "control-label col-md-5" })
            <span id="Error" class="ValidDateError"></span>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("ผู้รับผิดชอบ", new { @class = "control-label col-md-5" })
        <input id="StaffNameB" name="StaffName" class="btn btn-default input" placeholder="กรุณาเลือก" list="StaffIDGroup" style="width:215px" autocomplete="off">
        <datalist id="StaffIDGroup">
            @foreach (Models.dropdownAuto value in ViewBag.StaffID)
            {
                <option value="@value.Name" data-value="@value.ID"> </option>
            }
        </datalist>
        <input type="hidden" id="StaffIDE" name="StaffID" value="" />
        <span id="CError" class="ValidDateError"></span>
    </div>
    @*<div class="form-group">
            @Html.Label(" ผู้รับผิดชอบ", new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.DropDownList("StaffID", ViewBag.StaffID as SelectList, "Idle", new { @class = "btn btn-default dropdown-toggle" })
                <span id="FError" class="ValidDateError"></span>
            </div>
        </div>
    <div class="form-group">
        @Html.Label("สถานะ", new { @class = "control-label col-md-5" })
        <input id="StatusNameC" name="StatusName" class="btn btn-default input" placeholder="กรุณาเลือก" list="StatusIDGroup" style="width:215px" autocomplete="off">
        <datalist id="StatusIDGroup">
            @foreach (Models.dropdownAuto value in ViewBag.StatusID)
            {
                <option value="@value.Name" data-value="@value.ID"> </option>
            }
        </datalist>
        <input type="hidden" id="StatusIDF" name="StatusID" value="0" />
        <span id="DError" class="ValidDateError"></span>
    </div>
    @*<div class="form-group">
            @Html.Label(" สถานะ", new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.DropDownList("StatusID", ViewBag.StatusID as SelectList, new { @class = "btn btn-default dropdown-toggle" })
                <span id="GError" class="ValidDateError"></span>
            </div>
        </div>
    <div class="form-group">
        @Html.Label("รูปแบบ", new { @class = "control-label col-md-5" })
        <input id="PlatformNameD" name="PlatformName" class="btn btn-default input" placeholder="กรุณาเลือก" list="PlatformIDGroup" style="width:215px" autocomplete="off">
        <datalist id="PlatformIDGroup">
            @foreach (Models.dropdownAuto value in ViewBag.PlatformID)
            {
                <option value="@value.Name" data-value="@value.ID"> </option>
            }
        </datalist>
        <input type="hidden" id="PlatformIDG" name="PlatformID" value="" />
        <span id="HError" class="ValidDateError"></span>
    </div>

    @* รูปภาพ & ไฟล์
    <div class="form-group">
        @Html.Label("รูปภาพ/ไฟล์", new { @class = "control-label col-md-5" })
        @Html.ActionLink(@Resources.Resource.Add, "AddRowDetail", "Task",
     new
     {
         id = "AddRowDetail",
         @class = "btn btn-success btn-md",
         role = "button"
     })
        <table id="permTable">
            <tbody></tbody>
        </table>
    </div>

    @* / รูปภาพ & ไฟล์ *@