﻿@model Models.tranTasksh

<style>
    .scrollbars1 {
        width: 100%;
        max-height: 150px;
        margin-top: 20px;
        overflow: hidden scroll; /* showing scrollbars */
    }
</style>

@Html.AntiForgeryToken()

@*------------------ใช้ table------------------*@
<div class="modal-dialog modal-lg" style="width:1000px;left:-150px">
    <div class="modal-content">
        @*------------------header------------------*@
        <div class="modal-header>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Detail</h4>
        </div>
        @*------------------body------------------*@
        <div class="modal-body" style="width:1000px;">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        ID :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ID)
                    </dd>
                    <dt>
                        โปรเจค :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProjectName)
                    </dd>
                    <dt>
                        Task :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        กำหนดส่ง :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>
                    <dt>
                        Remark :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Remark)
                    </dd>
                    <dt>
                        ผู้รับผิดชอบ :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StaffName)
                    </dd>
                    <dt>
                        สถานะ :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StatusName)
                    </dd>
                    <dt>
                        รูปแบบ :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PlatformName)
                    </dd>
                    <dt>
                        @if (Model.FileName.Count > 0)
                        {
                            <label>
                                รูป/ความคิดเห็น RD:
                            </label>
                        }
                        else
                        {

                        }
                    </dt>
                    <dd>
                        @if (Model.FileName.Count > 0)
                        {
                            <div class="scrollbars1" style="margin-top: 0px;">
                                @foreach (var File in Model.FileName)
                                {

                                    <div class="overflow-auto">
                                        <a target="_blank" href="@File.PathFile" @if (!File.Review) { @Html.Raw("download")     }>@File.Name</a>
                                        <br />
                                    </div>
                                }
                            </div>
                        }
                        else
                        {

                        }
                    </dd>
                    <br />
                    <br />
                    <dt>
                        @if (Model.FileName.Count > 0)
                        {
                            <label>
                                รูป/ความคิดเห็น TS:
                            </label>
                        }
                        else
                        {

                        }
                    </dt>
                    <dd>
                        @if (Model.FileNameTs.Count > 0)
                        {
                            <div class="scrollbars1" style="margin-top: 0px;">
                                @foreach (var File in Model.FileNameTs)
                                {
                                    <div class="overflow-auto">
                                        <a target="_blank" href="@File.PathFiles" @if (!File.ReviewFiles) { @Html.Raw("download")  }>@File.OldFiles</a>
                                    </div>

                                    <div class="overflow-auto">
                                        @File.Comment
                                    </div>
                                }
                            </div>
                        }
                        else
                        {

                        }
                    </dd>

                </dl>

            </div>
        </div>

        @{ Html.RenderPartial("../Loading"); }
        <div class="modal-footer">
            <input type="button" class="btn" onclick="hideDialog();" value="@Resources.Resource.Close">
        </div>
    </div>
</div>



