﻿@model Models.FileName
@{ ViewData.TemplateInfo.HtmlFieldPrefix = ViewBag.HtmlFieldPrefix; }

<tr>
    <td style="width:30%"></td>
    <th>
        <input type="hidden" name="FileData.Index" id="FileData.Index" value="@ViewBag.Index" />
        <input type="file" id="filedata"  style="width:43%"
               name="FileData[@ViewBag.Index].Files"
               value="@ViewBag.Index"
               onchange="filedatachangename(this)" />
    </th>
    <td style="text-align:right;width:100px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden; ">
        <label class="custom-file-label position" for="filedata_@ViewBag.Index"
               style="width:200px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">Chooes file</label>
        </td>
    <td style="width:50px">
        <button class="btn btn-danger btn-md" onclick="Delete(this,'@ViewBag.Index')">Delete</button>
    </td>
    <td style="text-align:left">
        <div style="text-align:left">
            <span id="GError" class="ValidDateError" style="text-align:left"></span>
        </div>
        <input type="hidden" id="FileName" name="ListFileName[@ViewBag.Index].GUID" value="@ViewBag.Index" />
    </td>

</tr>

