﻿@model Models.tranTask
<style>
    input[type='file'] {
        color: transparent;
    }

    #demo {
        display: none;
    }

    table {
        width: 80%;
        margin: 0px auto;
    }

    th {
        text-align: right;
        padding: 10px 15px 10px 0px;
        width: 31%;
    }

    label {
        margin: 0px;
    }

    .EditorFor {
        border: 1px solid #ccc;
        padding: 6px 12px;
        border-radius: 4px;
    }
</style>
@using (Html.BeginForm("Edit", "Task", FormMethod.Post, new { id = "form0", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    //------------------ใช้ table------------------
    <div class="modal-dialog modal-lg" style="width:800px;left:-150px">
        <div class="modal-content">

            @*------------------header------------------*@
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-text="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.Edit</h4>
            </div>

            @*------------------body------------------*@
            <div class="modal-body" style="width:800px;">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
                <input type="hidden" name="Approve" value="@Model.Approve" />
                <div class="form-horizontal">
                    <table>
                        @*------------------TaskID------------------*@
                        <tr>
                            <th>@Html.Label("* Task ID")</th>
                            <td>
                                @Html.DisplayFor(model => model.ID,
                               new { @class = "control-label col-md-5", Styles = "width:100%" })
                            </td>
                            <td><span id="Error" class="ValidDateError"></span></td>
                        </tr>

                        @*------------------ProjectName------------------*@
                        <tr>
                            <th>@Html.Label("ProjectName")</th>
                            @if (ViewBag.StaffLevel == 1)
                            {
                                <td>
                                    <input id="ProjectNameEdit" name="ProjectName" class="btn btn-default input"
                                           placeholder="กรุณาเลือก" list="ProjectIDGroup"
                                           style="width:180px" autocomplete="off" value="@Model.ProjectName">
                                    <datalist id="ProjectIDGroup">
                                        @foreach (Models.dropdownAuto value in ViewBag.ProjectID)
                                        {
                                            <option value="@value.Name" data-value="@value.ID"> </option>
                                        }
                                    </datalist>
                                    <input type="hidden" id="ProjectIDEdit" name="ProjectID" value="@Model.ProjectID" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => model.ProjectName)
                                    <input id="ProjectNameEdit" name="ProjectName" class="btn btn-default input"
                                           placeholder="กรุณาเลือก" list="ProjectIDGroup" type="hidden"
                                           style="width:180px" autocomplete="off" value="@Model.ProjectName">
                                    <input type="hidden" id="ProjectIDEdit" name="ProjectID" value="@Model.ProjectID" />
                                </td>
                            }

                            <td><span id="BError" class="ValidDateError"></span></td>
                        </tr>

                        @*------------------TaskName------------------*@
                        <tr>
                            <th>@Html.Label("Task")</th>
                            @if (ViewBag.StaffLevel == 1)
                            {
                                <td>
                                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => model.Name)
                                    <input type="hidden" class="form-control" id="Name" name="Name" value="@Model.Name" />
                                </td>
                            }
                            <td><span id="AError" class="ValidDateError"></span></td>
                        </tr>

                        @*------------------StartDate------------------*@
                        <tr>
                            <th>@Html.Label("วันที่เริ่มงาน")</th>
                            @if (ViewBag.StaffLevel == 1)
                            {
                                <td>
                                    <input type="text" style="width: auto"
                                           class="btn btn-default dropdown-toggle"
                                           id="StartDate" name="StartDate"
                                           value="@(Model.StartDate)" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => model.StartDate)
                                    <input type="hidden" style="width: auto"
                                           class="btn btn-default dropdown-toggle"
                                           name="StartDate"
                                           value="@(Model.StartDate)" />
                                </td>
                            }
                            <td><span id="Error" class="ValidDateError"></span></td>
                        </tr>

                        @*------------------EndDate------------------*@
                        <tr>
                            <th>@Html.Label("กำหนดส่ง")</th>
                            @if (ViewBag.StaffLevel == 1)
                            {
                                <td>
                                    <input type="text" style="width: auto"
                                           class="btn btn-default dropdown-toggle"
                                           id="DueDate" name="DueDate"
                                           value="@(Model.DueDate)" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => model.DueDate)
                                    <input type="hidden" style="width: auto"
                                           class="btn btn-default dropdown-toggle"
                                           name="DueDate"
                                           value="@(Model.DueDate)" />
                                </td>
                            }
                            <td><span id="Error" class="ValidDateError"></span></td>
                        </tr>

                        @*------------------Remark------------------*@
                        <tr>
                            <th>@Html.Label("Remark")</th>
                            @if (ViewBag.StaffLevel == 1)
                            {
                                <td>
                                    <input type="text" class="form-control" id="Remark" name="Remark" value="@Model.Remark" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => model.Remark)
                                    <input type="hidden" class="form-control" id="Remark" name="Remark" value="@Model.Remark" />
                                </td>
                            }
                            <td><span id="EError" class="ValidDateError"></span></td>
                        </tr>

                        @*------------------ผู้รับผิดชอบ------------------*@
                        <tr>
                            <th>@Html.Label("ผู้รับผิดชอบ")</th>
                            @if (ViewBag.StaffLevel == 1)
                            {
                                <td>
                                    <input id="StaffNameEdit" name="StaffName"
                                           class="btn btn-default input"
                                           placeholder="กรุณาเลือก" list="StaffIDGroup"
                                           style="width:180px" autocomplete="off"
                                           value="@Model.StaffName">
                                    <datalist id="StaffIDGroup">
                                        @foreach (Models.dropdownAuto value in ViewBag.StaffID)
                                        {
                                            <option value="@value.Name" data-value="@value.ID"> </option>
                                        }
                                    </datalist>
                                    <input type="hidden" id="StaffIDEdit" name="StaffID" value="@Model.StaffID" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => model.StaffName)
                                    <input id="StaffNameEdit" name="StaffName"
                                           class="btn btn-default input" type="hidden"
                                           placeholder="กรุณาเลือก" list="StaffIDGroup"
                                           style="width:180px" autocomplete="off"
                                           value="@Model.StaffName">

                                    <input type="hidden" id="StaffIDEdit" name="StaffID" value="@Model.StaffID" />
                                </td>
                            }
                            <td><span id="CError" class="ValidDateError"></span></td>
                        </tr>

                        @*------------------Status------------------*@
                        @if (ViewBag.StaffLevel != 1)
                        {
                            if (@Model.StatusID == 4)
                            {
                                <tr>
                                    <th>@Html.Label("สถานะ")</th>
                                    <td>
                                        @Html.DisplayFor(model => model.StatusName)
                                        <input id="StatusNameEdit" name="StatusName"
                                               class="btn btn-default input" placeholder="กรุณาเลือก"
                                               list="StatusIDGroup" style="width:180px" type="hidden"
                                               autocomplete="off" value="@Model.StatusName"
                                               onchange="ListName(value)">
                                        <input type="hidden" id="StatusIDEdit" name="StatusID" value="@Model.StatusID" />
                                    </td>
                                    <td><span id="DError" class="ValidDateError"></span></td>
                                </tr>
                                <tr>
                                    <th>@Html.Label("ผู้รับผิดชอบ(TS)")</th>
                                    <td>
                                        @Html.DisplayFor(model => model.RecevierIDName)
                                        <input id="RecevierIDName" name="RecevierIDName" class="btn btn-default input"
                                               placeholder="กรุณาเลือก" list="StaffIDGroupTS" type="hidden"
                                               style="width:180px" autocomplete="off" />
                                        <input type="hidden" id="RecevierID" name="RecevierID" value="@Model.StaffID" />
                                    </td>
                                    <td><span id="KError" class="ValidDateError"></span></td>
                                </tr>
                            }
                            else if (@Model.StatusID == 2)
                            {
                                <tr>
                                    <th>@Html.Label("สถานะ")</th>
                                    <td>
                                        @Html.DisplayFor(model => model.StatusName)
                                        <input id="StatusNameEdit" name="StatusName"
                                               class="btn btn-default input" placeholder="กรุณาเลือก"
                                               list="StatusIDGroup" style="width:180px" type="hidden"
                                               autocomplete="off" value="@Model.StatusName"
                                               onchange="ListName(value)">

                                        
                                        <input type="hidden" id="StatusIDEdit" name="StatusID" value="@Model.StatusID" />
                                    </td>
                                    <td><span id="DError" class="ValidDateError"></span></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>@Html.Label("สถานะ")</th>
                                    <td>
                                       

                                        <select id="StatusNameEdit" name="StatusName"
                                                class="btn btn-default input" placeholder="กรุณาเลือก"
                                               style="width:180px" onchange="ListName(value)">
                                            @foreach (Models.dropdownAuto value in ViewBag.StatusID)
                                            {
                                                <option value="@value.Name" data-value="@value.ID">@value.Name</option>
                                            }
                                        </select>
                                        <input type="hidden" id="StatusIDEdit" name="StatusID" value="@Model.StatusID" />
                                    </td>
                                    <td><span id="DError" class="ValidDateError"></span></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <th>@Html.Label("สถานะ")</th>
                                <td>
                                    <input id="StatusNameEdit" name="StatusName"
                                           class="btn btn-default input" placeholder="กรุณาเลือก"
                                           list="StatusIDGroup" style="width:180px"
                                           autocomplete="off" value="@Model.StatusName"
                                           onchange="ListName(value)">

                                    <datalist id="StatusIDGroup">
                                        @foreach (Models.dropdownAuto value in ViewBag.StatusID)
                                        {
                                            <option value="@value.Name" data-value="@value.ID"> </option>
                                        }
                                    </datalist>
                                    <input type="hidden" id="StatusIDEdit" name="StatusID" value="@Model.StatusID" />
                                </td>
                                <td><span id="DError" class="ValidDateError"></span></td>
                            </tr>
                        }



                        @*------------------ผู้รับผิดชอบ (TS)------------------*@
                        <tr id="demo">
                            <th>@Html.Label("ผู้รับผิดชอบ(TS)")</th>
                            <td>
                                <input id="RecevierIDName" name="RecevierIDName" class="btn btn-default input"
                                       placeholder="กรุณาเลือก" list="StaffIDGroupTS"
                                       style="width:180px" autocomplete="off" />
                                <datalist id="StaffIDGroupTS">
                                    @foreach (Models.dropdownAuto value in ViewBag.StaffIDTS)
                                    {
                                        <option value="@value.Name" data-value="@value.ID"> </option>
                                    }
                                </datalist>
                                <input type="hidden" id="RecevierID" name="RecevierID" value="@Model.StaffID" />
                            </td>
                            <td><span id="KError" class="ValidDateError"></span></td>
                        </tr>

                        @*------------------รูปแบบ------------------*@
                        <tr>
                            <th>@Html.Label("รูปแบบ")</th>
                            @if (ViewBag.StaffLevel == 1)
                            {
                                <td>
                                    <input id="PlatformNameEdit" name="PlatformName" class="btn btn-default input"
                                           placeholder="กรุณาเลือก" list="PlatformIDGroup"
                                           style="width:180px" autocomplete="off"
                                           value="@Model.PlatformName">
                                    <datalist id="PlatformIDGroup">
                                        @foreach (Models.dropdownAuto value in ViewBag.PlatformID)
                                        {
                                            <option value="@value.Name" data-value="@value.ID"> </option>
                                        }
                                    </datalist>
                                    <input type="hidden" id="PlatformIDEdit" name="PlatformID" value="@Model.PlatformID" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => model.PlatformName)
                                    <input id="PlatformNameEdit" name="PlatformName" class="btn btn-default input"
                                           placeholder="กรุณาเลือก" list="PlatformIDGroup" type="hidden"
                                           style="width:180px" autocomplete="off"
                                           value="@Model.PlatformName">

                                    <input type="hidden" id="PlatformIDEdit" name="PlatformID" value="@Model.PlatformID" />
                                </td>
                            }
                            <td><span id="HError" class="ValidDateError"></span></td>
                        </tr>

                        @*------------------รูปไฟล์------------------*@
                        <tr>
                            @if (ViewBag.StaffLevel == 1 || ViewBag.Files.Count > 0)
                            {
                                <th>@Html.Label("รูปภาพ / ไฟล์")</th>
                            }


                            @if (ViewBag.StaffLevel == 1)
                            {
                                <td>
                                    @Html.ActionLink(@Resources.Resource.Add, "AddRowDetail", "Task",
                                        new
                                        {
                                            id = "AddRowDetail",
                                            @class = "btn btn-success btn-md",
                                            role = "button"
                                        })
                                </td>
                            }

                        </tr>
                    </table>
                    @*------------------ตารางรูปไฟล์------------------*@
                    <table id="permTable">
                        <tbody>
                            @if (ViewBag.StaffLevel == 1)
                            {
                                if (ViewBag.Files.Count > 0)
                                {
                                    foreach (Models.ListFileName item in ViewBag.Files)
                                    {
                                        <tr>
                                            <td style="width:25%"></td>
                                            <th style="width: 22%;">
                                                <input type="file" id="filedata" style="width:62%;float:left;margin-right:unset;" name="FileData[@item.GUID].Files" value="@item.GUID" onchange="filedatachangename(this)" />
                                                <input type="hidden" name="FileData.Index" id="FileData.Index" value=@item.GUID />
                                                <input type="hidden" name="FileData[@item.GUID].OldName" id="FileData[@item.GUID].OldName" value=@item.FullName />
                                            </th>
                                            <td style="width:200px">
                                                <label class="custom-file-label position" for="filedata_@item.GUID" style="text-overflow:ellipsis;overflow:hidden;width:200px">@item.Name</label>
                                            </td>
                                            <td style="width:70px">
                                                <button class="btn btn-danger btn-md" onclick="Delete(this,'@item.GUID')">Delete</button>
                                            </td>

                                            <td>
                                                <span id="GError" class="ValidDateError"></span>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {

                                }
                            }
                            else
                            {
                                if (ViewBag.Files.Count > 0)
                                {
                                    foreach (Models.ListFileName item in ViewBag.Files)
                                    {
                                        <tr>
                                            <th>
                                                <input type="hidden" name="FileData.Index" id="FileData.Index" value=@item.GUID />
                                                <input type="hidden" name="FileData[@item.GUID].OldName" id="FileData[@item.GUID].OldName" value=@item.FullName />
                                            </th>
                                            <td>
                                                <label class="custom-file-label position" for="filedata_@item.GUID"
                                                       style="text-overflow:ellipsis;overflow:hidden">@item.Name</label>
                                                </td>

                                            </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @*------------------footer------------------*@
            <div class="modal-footer">
                <input type="button" class="btn" onclick="hideDialog();" value="@Resources.Resource.Close">
                <input type="submit" value="@Resources.Resource.Save" class="btn btn-primary btn-md" />
            </div>
        </div>
    </div>
    //------------------ใช้ table------------------

}
<script>
    function ListName(value) {
        if (value == "TS Testing") {
            document.getElementById("demo").style.display = "table-row";
        }
        else {
            document.getElementById("demo").style.display = "none";
        }
    }
</script>

<script src="~/Scripts/CHO.js"></script>
<script lang="javascript">
    function filedatachangename(item) {
        debugger;
        var _fileName = $(item).val();
        var file = item.files[0];
        var idLabel = item.defaultValue;
        $("label[for = filedata_" + idLabel + "]").text(file.name);
    }
    $(document).ready(function () {
        $(function () {
            var SubURL = '';
            $("#DueDate").datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                buttonImage: SubURL + "/images/calendar.gif",
                showOn: "both"
            });
            $("#StartDate").datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                buttonImage: SubURL + "/images/calendar.gif",
                showOn: "both"
            });
        });

        ////$("#filedata").on("change", function () {
        ////    debugger;
        ////    var _fileName = $(this).val();
        ////    var file = this.files[0];
        ////    var idLabel = this.defaultValue;
        ////    $("label[for = filedata_" + idLabel + "]").text(file.name);
        ////});
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#form0").submit(function (event) {
            $("#inloading").show(); var dataString;
            event.preventDefault();
            var action = $("#form0").attr("action");
            if ($("#form0").attr("enctype") == "multipart/form-data") {
                dataString = new FormData($("#form0").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            //document.getElementById("LoadingEdit").style.display = "block";
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                //dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (data) {
                    //BTW, data is one of the worst names you can make for a variable
                    //handleSuccessFunctionHERE(data);
                    $("#inloading").hide();
                    alert("Edit Data Success");
                    created();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#inloading").hide();
                    //$("#ErPosNo").html("test")
                    errorClear();
                    Error(errorThrown);

                }
            });
        }); //end .submit()
    });

    //ข้อควรระวังใน javascript ชื่อไอดีใน input ที่อยู่ในหน้าเดียวกันมันอาจจะ run ทับกันได้เลยที่เปลี่ยนชื่อไอดีใน input ให้มีความแตกต่างกันด้วย
    //ข้อควรระวังในห้ามค่าใน getElementById เหมือนกันเมื่อมันอยู่ในหน้าเดียวกัน
    $('#ProjectNameEdit').on('input', function () {
        var value = $(this).val();
        var projectID = $('#ProjectIDGroup [value="' + value + '"]').data('value');
        if (projectID == null) {
            document.getElementById('ProjectIDEdit').value = -1;
        } else {
            document.getElementById('ProjectIDEdit').value = projectID;
        }

    });

    $('#RecevierIDName').on('input', function () {
        debugger;
        var value = $(this).val();
        var staffID = $('#StaffIDGroupTS [value="' + value + '"]').data('value');
        if (staffID == null) {
            document.getElementById('RecevierID').value = -1;
        } else {
            document.getElementById('RecevierID').value = staffID;
        }

    });


    $('#StaffNameEdit').on('input', function () {
        var value = $(this).val();
        var staffID = $('#StaffIDGroup [value="' + value + '"]').data('value');
        if (staffID == null) {
            document.getElementById('StaffIDEdit').value = -1;
        } else {
            document.getElementById('StaffIDEdit').value = staffID;
        }

    });

    $('#StatusNameEdit').on('input', function () {
        var value = $(this).val();
        var statusID = $('#StatusIDGroup [value="' + value + '"]').data('value');
        if (statusID == null) {
            document.getElementById('StatusIDEdit').value = -1;
        } else {
            document.getElementById('StatusIDEdit').value = statusID;
        }

    });

    $('#PlatformNameEdit').on('input', function () {
        var value = $(this).val();
        var PlatformID = $('#PlatformIDGroup [value="' + value + '"]').data('value');

        if (PlatformID == null) {
            document.getElementById('PlatformIDEdit').value = -1;
        } else {
            document.getElementById('PlatformIDEdit').value = PlatformID;
        }


    });

    $('#permTable').on('input', function () {
        debugger;
        var value = $(this).val();
        var FileData = $('#permTable [value="' + value + '"]').data('value');
        if (FileData == null) {
            document.getElementById('Files').value = "-1";
        } else {
            document.getElementById('Files').value = FileData;
        }

    });

</script>

<script>
    $("#AddRowDetail").click(function () {
        $.ajax({
            url: this.href,
            cache: false,
            success: function (html) {
                $("#permTable > tbody:last").append(html);

            }
        });
        return false;
    });
    $("#deleteAll").click(function () {
        $("#permTable").find("tr:gt(0)").remove();
    });
</script>

<script>
    function Delete(data, num) {
        $(data).closest('tr').remove();
    }
</script>
<script>

</script>