﻿@model Models.Task_Filter
<div class="container" style="padding:0">
    <input type="hidden" id="idTask" value="@ViewBag.TaskId" />
    <!-- Search Form -->
    <p></p>
    <!-- Ajax form to refresh listing -->
    @using (@Ajax.BeginForm("ListNew", "Task", null,
                                                        new AjaxOptions()
                                                        {
                                                            HttpMethod = "GET",
                                                            LoadingElementId = "inloading",
                                                            UpdateTargetId = "viewContent2",
                                                            InsertionMode = InsertionMode.Replace,
                                                            OnFailure = "Failure( xhr, status, error)"

                                                        },
                                                        new
                                                        {
                                                            id = "listingForm2"
                                                            ,
                                                            enctype = "multipart/form-data"
                                                        }

                                                        ))
    {
        <input type="hidden" id="PageNo2" name="PageNo2" />}

    @using (@Ajax.BeginForm("List", "Task", null,
                                                new AjaxOptions()
                                                {
                                                    HttpMethod = "GET",
                                                    LoadingElementId = "inloading",
                                                    UpdateTargetId = "viewContent",
                                                    InsertionMode = InsertionMode.Replace,
                                                    OnFailure = "Failure( xhr, status, error)"

                                                },
                                                new
                                                {
                                                    id = "listingForm"
                                                    ,
                                                    enctype = "multipart/form-data"
                                                }

                                                ))
    {
        <div class="col-md-2" style="padding:0">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <button role="button" class="btn btn-primary" onclick="pageTo(1)">@Resources.Resource.Search</button>
                    @*@Model.Name*@
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @*@Html.DropDownList("StaffID","All Staff")*@
                        <input id="StaffName" name="StaffName" class="btn btn-default input" 
                               placeholder="All Staff" list="StaffIDGroup" style="width:100%" autocomplete="off">
                        <datalist id="StaffIDGroup">
                            @foreach (Models.dropdownAuto value in ViewBag.StaffID)
                            {
                                <option value="@value.Name" data-value="@value.ID"> </option>
                            }
                        </datalist>
                        <input type="hidden" id="StaffID" name="StaffID" value="0" />
                    </div>
                    <div class="form-group">
                        @*@Html.DropDownList("StatusID","All Status")*@
                        <input id="StatusName" name="StatusName" class="btn btn-default input" 
                               placeholder="All Status" list="StatusIDGroup" style="width:100%" autocomplete="off">
                        <datalist id="StatusIDGroup">
                            @foreach (Models.dropdownAuto value in ViewBag.StatusID)
                            {
                                <option value="@value.Name" data-value="@value.ID" onclick="getValue(@value.ID,StatusID)"> </option>
                            }
                        </datalist>
                        <input type="hidden" id="StatusID" name="StatusID" value="0" />
                    </div>
                    <div class="form-group">
                        @*@Html.DropDownList("ProjectID","All Project")*@
                        <input id="ProjectName" name="ProjectName" class="btn btn-default input" 
                               placeholder="All Project" list="ProjectIDGroup" style="width:100%" autocomplete="off">
                        <datalist id="ProjectIDGroup">
                            @foreach (Models.dropdownAuto value in ViewBag.ProjectID)
                            {
                                <option value="@value.Name" data-value="@value.ID" onclick="getValue(@value.ID,ProjectID)"> </option>
                            }
                        </datalist>
                        <input type="hidden" id="ProjectID" name="ProjectID" value="0" />
                    </div>
                    <div class="form-group">
                        <input type="text" style="width: 70%" class="btn btn-default dropdown-toggle" 
                               id="FilterDueDate" name="FilterDueDate" placeholder="DueDate">
                    </div>
                    <div class="form-group">
                        @Html.Label("UnShowFinish", new { @class = "control-label col-md-7" })
                        <div class="col-md-5" style="text-align:right">
                            @Html.CheckBox("UnShowFinish", true)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("UnShowCancel", new { @class = "control-label col-md-7" })
                        <div class="col-md-5" style="text-align:right">
                            @Html.CheckBox("UnShowCancel", true)
                        </div>
                    </div>
                    <input type="hidden" id="PageNo" name="PageNo" />
                </div>
            </div>
        </div>
    }
    <p></p>
    <div class="col-md-10" style="padding-right:0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="panel-body">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                </div>

                @if (ViewBag.StaffLevel == 1)
                {
                    @Html.ActionLink(@Resources.Resource.Add, "Create", null,
                    new
                    {
                        @class = "btn btn-primary btn-md",
                        data_toggle = "modal",
                        data_target = "#detailsDialog",
                        role = "button"
                    })
                }

                
                    
                    @Html.ActionLink(@"Detail", "Detail", "Task", new { TaskID = @ViewBag.TaskId },
                         new
                         {
                             id= "btnDetails",
                             @class = "btn btn-primary btn-md",
                             data_toggle = "modal",
                             data_target = "#detailsDialog",
                             role = "button",
                             @style="display:none"

                         })


                


            </div>
            @{ Html.RenderPartial("../Loading"); }
            <div id="viewContent2">
            </div>
            <div id="viewContent">
            </div>
        </div>
    </div>
    <div class="modal fade" id="detailsDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>
    <script>
        function MsgError(Code) {
            switch (Code) {
                case 'AA': return 'กรุณากรอกข้อมูล'; break;
                case 'AB': return 'ข้อมูลเกิน 255 ตัวอักษร กรุณากรอกข้อมูลใหม่'; break;
                case 'AC': return 'ไม่พบข้อมูลกรุณากรอกข้อมูลใหม่'; break;
                case 'BA': return 'กรุณากรอกข้อมูล'; break;
                case 'BB': return 'ไม่พบข้อมูลกรุณากรอกข้อมูลใหม่'; break;
                case 'BC': return 'ห้ามมีค่าน้อยกว่า 0'; break;
                case 'CA': return 'ไม่พบข้อมูลกรุณากรอกข้อมูลใหม่'; break;
                case 'CB': return 'กรุณากรอกเฉพาะตัวเลขเท่านั้น'; break;
                case 'CC': return 'ห้ามมีค่าน้อยกว่า 0'; break;
                case 'DA': return 'กรุณากรอกข้อมูล'; break;
                case 'DB': return 'ไม่พบข้อมูลกรุณากรอกข้อมูลใหม่'; break;
                case 'DC': return 'ห้ามมีค่าน้อยกว่า 0'; break;
                case 'EA': return 'ต้องเป็นจำนวนเต็มและห้ามมีค่าเกินกว่า 100,000'; break;
                case 'EB': return 'กรุณากรอกเฉพาะตัวเลขเท่านั้น'; break;
                case 'EC': return 'ห้ามมีค่าน้อยกว่า 0'; break;
                case 'FA': return 'ต้องเป็นจำนวนเต็มและห้ามมีค่าเกินกว่า 100,000'; break;
                case 'FB': return 'กรุณากรอกเฉพาะตัวเลขเท่านั้น'; break;
                case 'FC': return 'ห้ามมีค่าน้อยกว่า 0'; break;
                case 'GA': return 'กรุณาอัพโหลดไฟล์'; break;
                case 'HA': return 'กรุณากรอกข้อมูล'; break;
                case 'HB': return 'ไม่พบข้อมูลกรุณากรอกข้อมูลใหม่'; break;
                case 'MA': return 'วันที่ไม่ถูกต้อง'; break;
                case 'NA': return 'วันที่ไม่ถูกต้อง'; break;
                case 'IA': return 'ไม่พบข้อมูลกรุณากรอกข้อมูลใหม่'; break;
                case 'JA': return 'ไม่พบข้อมูลกรุณากรอกข้อมูลใหม่'; break;
                case 'KA': return 'กรุณาเลือกผู้รับผิดชอบ Task'; break;

                case 'ZZ': return 'Error'; break;
                

            }
        }

    </script>
    <script lang="javascript">
        $(document).ready(function () {
            // enable tooltip for <a>
            //$("a").tooltip();
            $("#StatusID").css('width', "100%");
            $("#StatusID").css('height', 35);
            $("#StaffID").css('width', "100%");
            $("#StaffID").css('height', 35);
            $("#ProjectID").css('width', "100%");
            $("#ProjectID").css('height', 35);
            // http://stackoverflow.com/questions/12286332/twitter-bootstrap-remote-modal-shows-same-content-everytime
            $('#detailsDialog').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            // config validation for dialog
            $('#detailsDialog').on('shown.bs.modal', function () {
                configDialog($(this));
            });

            // load page 1
            $('#listingForm').submit();
            $('#listingForm2').submit();

            if (document.getElementById("idTask").value != "-1")
            {
                document.getElementById("btnDetails").click();
                document.getElementById("idTask").value = "-1";

            }

            $(function () {
                var SubURL = '';
                $("#FilterDueDate").datepicker({
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    buttonImage: SubURL + "/images/calendar.gif",
                    showOn: "both"
                });

            });
        });

        $('#StaffName').on('input', function () {
            var value = $(this).val();
            document.getElementById('StaffID').value = $('#StaffIDGroup [value="' + value + '"]').data('value');
        });


        $('#StatusName').on('input', function () {
            var value = $(this).val();
            document.getElementById('StatusID').value = $('#StatusIDGroup [value="' + value + '"]').data('value');
        });

        $('#ProjectName').on('input', function () {
            var value = $(this).val();
            document.getElementById('ProjectID').value = $('#ProjectIDGroup [value="' + value + '"]').data('value');
        });

        function configDialog($DialogContainer) {
            var $jQval = $.validator; //This is the validator
            $jQval.unobtrusive.parse($DialogContainer); // and here is where you set it up.
            $DialogContainer.modal();

            // setup validation
            var $form = $DialogContainer.find("form");
            $.validator.unobtrusive.parse($form);

            // validate before submmit
            $form.on("submit", function (event) {
                var $form = $(this);
                if (!$form.valid())
                    return false;
                event.preventDefault();
            });
        }

        function hideDialog() {
            $('#detailsDialog').modal('hide');
        }


        function created() {
            hideDialog();
            $('#listingForm').submit();
            $('#listingForm2').submit();
        }
        function Failure(xhr, status, error) {

            Error(error);
        }
        function Edited() {
            hideDialog();
            $('#listingForm').submit();
            $('#listingForm2').submit();
        }

        function pageTo(pageNo) {
            $('#PageNo').val(pageNo);
            $('#listingForm').submit();
        }
        function pageNewTo(pageNo) {
            $('#PageNo2').val(pageNo);
            $('#listingForm2').submit();
        }
    </script>
    <script src="~/Scripts/CHO.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#form0").submit(function (event) {
                $("#inloading").show(); var dataString;
                event.preventDefault();
                var action = $("#form0").attr("action");
                if ($("#form0").attr("enctype") == "multipart/form-data") {
                    dataString = new FormData($("#form0").get(0));
                    contentType = false;
                    processData = false;
                } else {
                    // regular form, do your own thing if you need it
                }
                $.ajax({
                    type: "POST",
                    url: action,
                    data: dataString,
                    //dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                    contentType: contentType,
                    processData: processData,
                    success: function (data) {
                        //BTW, data is one of the worst names you can make for a variable
                        //handleSuccessFunctionHERE(data);
                        created();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("error");
                        $("#inloading").hide();
                        //$("#ErPosNo").html("test")
                        errorClear();
                        Error(errorThrown);

                    }
                });
            }); //end .submit()
        });
    </script>
    <script lang="javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                show: "blind",
                hide: "blind",
                appendTo: "#bottomOfForm",
                buttons: {
                    'Submit': function () {
                        //$j(this).parent().prependTo($j("#bottomOfForm"));
                        $(this).dialog('close');
                        submit = true;
                        $("#form0").submit();

                    }
                }
            });
        });
    </script>
