﻿@model Task.tranTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tranTask</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.masProject.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.masProject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.masStaff.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.masStaff.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.masTaskStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.masTaskStatu.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
