﻿@model Models.Login    
@using (Html.BeginForm("LogIn", "Home", FormMethod.Post, new { id = "form0", enctype = "multipart/form-data" }))
{
<div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"> INFINITE - Control Version</h4>
            </div>
            <div class="modal-body">    
                @Html.AntiForgeryToken()    
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.Label("User ID", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model=>model.UserLogin)
                            <span id="AError" class="ValidDateError"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Passwords", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model=>model.PasswordLogin)
                            <span id="BError" class="ValidDateError"></span>
                        </div>
                    </div>
                </div>                 
           </div>  
            @{ Html.RenderPartial("../Loading"); }                           
            <div class="modal-footer">  
                @*<input type="button" class="btn" onclick="hideDialog();" value="@Resources.Resource.Close">*@
                <input type="submit" value="Log In" class="btn btn-primary btn-md" />             
            </div>   
        </div>
    </div>     
}
<script type="text/javascript">

    $(function () {
        $("#form0").submit(function (event) {
            $("#loading").modal('show');
            $("#inloading").show();var dataString;
            event.preventDefault();
            var action = $("#form0").attr("action");
            if ($("#form0").attr("enctype") == "multipart/form-data") {
                //this only works in some browsers.
                //purpose? to submit files over ajax. because screw iframes.
                //also, we need to call .get(0) on the jQuery element to turn it into a regular DOM element so that FormData can use it.
                dataString = new FormData($("#form0").get(0));
                //alert(dataString);
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({ 
                type: "POST",
                url: action,
                data: dataString,
                //dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (data) {
                    //BTW, data is one of the worst names you can make for a variable
                    //handleSuccessFunctionHERE(data);
                    //created();
                    //alert("@Url.Content("~/")");
                    window.location ="@Url.Content("~/Task/Index")";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#inloading").hide();
                    //$("#ErPosNo").html("test")
                    //alert(errorThrown);
                    alert("@Resources.Resource.Userpasswordincorrect");
                    $("#loading").modal('hide');
                }
            });
        }); //end .submit()
    });
</script>
