﻿.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 14px;
  line-height: 20px;
}

.navbar-brandHome {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 29px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

    .treeviewcollapse{
        width:15px;
        background-image:url('../Content/Icon/collapse.png');
        background-repeat:no-repeat;
        /*background-position:-5px -1px;*/
        display:inline-block;
        cursor:pointer;
    }
    .treeviewexpand{
        width:15px;
        background-image :url('../Content/Icon/expand.png');
        background-repeat:no-repeat;
        /*background-position:-50px -17px;*/
        display:inline-block;
        cursor:pointer;    
    }
    .treeview ul {
    font:14px  Arial ,Sans-Serif;
    margin:0px;
    padding-left :20px;
    list-style:none;
    }
    .treeview > li > a {
        font-weight:bold ;
    }
    .treeview li {
    }
    .treeview li a {
        padding:4px;
        font-size:12px;
        display:inline-block ;
        text-decoration:none;
        width:auto;
    } 

.ValidDateError {
    color :red ;
}



