﻿@model Models.Project_Filter

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { id = "form0", enctype = "multipart/form-data" }))
{
    <div class="modal-dialog modal-lg" style="width: 800px; left: -150px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.Create</h4>
            </div>
            <div class="modal-body" style="width: 600px;">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.Label("Name", new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(models => models.Name, new { @class = "control-label col-md-5", Styles = "width:100%" })
                            <span id="AError" class="ValidDateError"></span>
                        </div>
                    </div>
                </div>
            </div>
            @{ Html.RenderPartial("../Loading"); }

            <div class="modal-footer">
                <input type="button" class="btn" onclick="hideDialog();" value="@Resources.Resource.Close">
                <input type="submit" value="@Resources.Resource.Save" class="btn btn-primary btn-md" />
            </div>

        </div>
    </div>

                }
<script src="~/Scripts/CHO.js"></script>
<script lang="javascript">
    $(document).ready(function () {
        $(function () {
            var SubURL = '';
            $("#DueDate").datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                buttonImage: SubURL + "/images/calendar.gif",
                showOn: "both"
            });

        });



    });
</script>
<script type="text/javascript">


    $(function () {
        $("#form0").submit(function (event) {
            $("#inloading").show();
            var dataString;
            event.preventDefault();
            var action = $("#form0").attr("action");
            if ($("#form0").attr("enctype") == "multipart/form-data") {
                dataString = new FormData($("#form0").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                //dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (data) {
                    //BTW, data is one of the worst names you can make for a variable
                    //handleSuccessFunctionHERE(data);

                    alert("Add Data Success");
                    created();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#inloading").hide();
                    //$("#ErPosNo").html("test")
                    //alert(errorThrown);
                    errorClear();
                    Error(errorThrown);

                }
            });
        }); //end .submit()
    });

</script>
