﻿@model PagedList.IPagedList<masProjects>
<table class="table">
    <thead>
        <tr style="background-color: #428bca; color:white">
            <th class="Name">
                @Html.Label("ID")               
            </th>
            <th class="Name">
                @Html.Label("Name")               
            </th>
            <th style="text-align:right;padding-right:1.5em"><span class="badge">@Model.TotalItemCount</span>  @Resources.Resource.Records</th>
            </tr>
    </thead >
    <tbody>
    @foreach(masProjects Item in Model)
    {
        <tr>
            <td class="Name">
                @Html.HiddenFor(model => Item.ID)
                @Html.DisplayFor(modelItem => Item.ID)
            </td>
            <td class="Name">
                @Html.DisplayFor(modelItem => Item.Name)
            </td>
            <td style="text-align:right;">
                @Html.ActionLink(@Resources.Resource.Edit, "Edit", "Project", new { ID = Item.ID },
                new
                {
                    @class = "btn btn-primary btn-md",
                    data_toggle = "modal",
                    data_target = "#detailsDialog",
                    role = "button"
                })
                @Html.ActionLink(@Resources.Resource.Delete, "Delete", "Project", new { ID = Item.ID },
                new
                {
                    @class = "btn btn-primary btn-md",
                    data_toggle = "modal",
                    data_target = "#detailsDialog",
                    role = "button"
                })
            </td>
        </tr>

    }
    </tbody>    
</table>
<div class="panel-footer">
    @Html.PagedListPager(Model, page => "javascript:pageTo(" + page + ");")
</div>
@*<style>
    .button
    {
        position:absolute;
        top:50%;
    }
</style>*@