﻿@model Models.FileCM
@{ ViewData.TemplateInfo.HtmlFieldPrefix = ViewBag.HtmlFieldPrefix; }

<tr>

    <input type="hidden" name="FileComment.Index" id="FileComment.Index" value="@ViewBag.Index" />
    <td style="width:20%"></td>
    <td valign="top" style="width:10%">
        <input type="file" id="filedata" style="width:80px;float:left;margin-right:unset;" name="FileComment[@ViewBag.Index].FilesData" value="@ViewBag.Index" onchange="filedatachangename(this,'@ViewBag.Index')" />
    </td>
    <td style="padding-bottom:30px;width:30%;">
        <label class="custom-file-label position" for="FileComment_@ViewBag.Index">Chooes file</label>
        <br/>
        <textarea  id="Comment_@ViewBag.Index" style="width:100%;float:left;margin-right:unset;" name="FileComment[@ViewBag.Index].Comment" />
    </td>
    <td valign="top" style="width:30%;padding-left:20px;">
        <button class="btn btn-danger btn-md" onclick="Delete(this,'@ViewBag.Index')">Delete</button>
        <span id="GError" class="ValidDateError" style="text-align:left"></span>
    </td>
</tr>


