﻿@model Models.tranTsTasksh

@*@{
        ViewBag.Title = "Detail";
    }*@

<style>
    .scrollbars1 {
        width: 100%;
        max-height: 150px;
        margin-top: 20px;
        overflow: hidden scroll; /* showing scrollbars */
    }

    .scrollbars2 {
        width: 100%;
        height: 150px;
        margin-top: 20px;
        overflow: hidden hidden; /* showing scrollbars */
    }
</style>
@Html.AntiForgeryToken()
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Detail</h4>
        </div>
        <div class="modal-body">
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        ID :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ID)
                    </dd>
                    <dt>
                        โปรเจค :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProjectName)
                    </dd>
                    <dt>
                        Task :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        กำหนดส่ง :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>
                    <dt>
                        Remark :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Remark)
                    </dd>
                    <dt>
                        ผู้รับผิดชอบ :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StaffName)
                    </dd>
                    <dt>
                        สถานะ :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StatusName)
                    </dd>
                    <dt>
                        รูปแบบ :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PlatformName)
                    </dd>
                    <dt>
                        @*@if (Model.Approve > 0)
                        {*@
                            <label>
                                ผลการตรวจสอบ:
                            </label>
                        @*}
                        else
                        {

                        }*@
                    </dt>
                    <dd>
                        @*@if (Model.Approve > 0)
                        {*@
                            @Html.DisplayFor(model => model.Approve)
                        @*}
                        else
                        {

                        }*@
                    </dd>

                    <dt style="margin-top: 10px;">
                        @if (Model.FileComment.Count > 0)
                        {
                            <label>
                                รูป/ความคิดเห็น :
                            </label>
                        }
                        else
                        {

                        }
                    </dt>
                    <dd>
                        @if (Model.FileComment.Count > 0)
                        {
                            <div class="scrollbars1">
                                @foreach (var File in Model.FileComment)
                                {

                                    <div class="overflow-auto">
                                        <a target="_blank" href="@File.FilesData" @if (!File.ReviewFile) { @Html.Raw("download") }>
                                            @File.OldFiles
                                        </a>
                                        <br />
                                    </div>
                                }
                                @foreach (var commentItem in Model.FileComment)
                                {
                                    <div class="overflow-auto">
                                        <textarea type="text" style="width:100%;float:left;margin-right:unset;">
                                            @commentItem.Comment
                                        </textarea>
                                    </div>
                                }
                            </div>

                        }
                        else
                        {

                        }

                    </dd>

                </dl>
            </div>
        </div>

        @{ Html.RenderPartial("../Loading"); }
        <div class="modal-footer">
            <input type="button" class="btn" onclick="hideDialog();" value="@Resources.Resource.Close">
        </div>
    </div>
</div>
