﻿@model PagedList.IPagedList<Models.tranTsTask>
<style>
    .Name {
        text-align: left;
    }
</style>
<table class="table">
    <thead>
        <tr style="background-color:red; color:white">
            <th class="Name">@Html.Label("Task ID")</th>
            <th class="Name">@Html.Label("Project")</th>
            <th class="Name">@Html.Label("Task")</th>
            <th class="Name">@Html.Label("วันส่งทดสอบ")</th>
            <th class="Name">@Html.Label("Responsible")</th>
            <th class="Name">@Html.Label("OS")</th>
            <th class="Name">@Html.Label("Status")</th>
            <th class="Name">@Html.Label("Approve")</th>
            <th style="text-align:right;padding-right:1.5em"><span class="badge">@Model.TotalItemCount</span>  @Resources.Resource.Records</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Models.tranTsTask Item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Item.ID)
                </td>
                <td class="Name">
                    @Html.HiddenFor(model => Item.ID)
                    @Html.DisplayFor(modelItem => Item.ProjectName)
                </td>
                <td class="Name">
                    @Html.DisplayFor(modelItem => Item.Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => Item.DueDate, new { @Value = Convert.ToString(Item.DueDate.ToString("dd-MMM-yy")) })*@
                    @Html.DisplayFor(modelItem => Item.DateReccode)
                </td>
                <td>
                    @if (Item.Approve == 2 && Item.StatusID == 1)
                    {
                        @Html.DisplayFor(modelItem => Item.StaffName)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => Item.RecevierIDName)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => Item.PlatformName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Item.StatusName)
                </td>
                <td>
                    @if (Item.Approve == 0)
                    {
                        @Html.Label("รอตรวจ")
                    }
                    else if (Item.Approve == 1)
                    {
                        @Html.Label("ผ่าน")
                    }
                    else if (Item.Approve == 2)
                    {
                        @Html.Label("ไม่ผ่าน")
                    }
                </td>
                <td style="text-align:right;">
                    @if (ViewBag.StaffLevel >= 1)
                    {
                        @Html.ActionLink(@Resources.Resource.Edit, "Edit", "TsTask", new { TsTaskID = Item.ID },
                    new
                    {
                        @class = "btn btn-danger btn-md",
                        data_toggle = "modal",
                        data_target = "#TsEditsDialog",
                        role = "button"
                    });
                    }
                    @if (ViewBag.StaffLevel >= 1)
                    {
                        @Html.ActionLink(@"Detail", "Detail", "TsTask", new { TsTaskID = Item.ID },
                    new
                    {
                        @class = "btn btn-primary btn-md",
                        data_toggle = "modal",
                        data_target = "#TsEditsDialog",
                        role = "button"
                    });
                    }

                </td>
            </tr>
        }


    </tbody>
</table>
<div class="panel-footer" style="height:100px;">
    <div style="z-index:1;position: absolute;">
        @Html.PagedListPager(Model, page => "javascript:pageNewTo(" + page + ");")
    </div>
</div>
